.container {
  background-color: #fffcfc;
}

#header > .left-view > #top-nav > ul > li {
  padding: 2px 14px;
}

#header > .left-view > #top-nav > ul > li {
  border-right: solid 1px #ed6851;
}

#footer {
  color: #ed6851;
}

a {
  color: #ed6851;
}

a:visited {
  color: #ed6851;
}

#header > #top-nav > ul > li > a {
  color: #ed6851;
}

.post-list {
  list-style-type: none;
}

.post-list > .post-item {
  display: flex;
  align-items: center;
}

.post-list > .post-item > .date {
  margin-right: 15px;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
}

.error-container > h2 {
  text-align: center;
  font-size: 3rem;
}

#header > .left-view > #top-nav > ul > .icon {
  color: #ed6851;
}
